body {
  margin: 0;
  overflow-x: hidden;
  font-family: 'Helvetica', 'Montserrat', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #222222;
  background-color: #f2f4f6;
  background-image: url('assets/images/hero-bg.jpg');
  background-repeat: no-repeat;
  background-position: top center;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 16px;
}

.subheading {
  margin: 0 0 16px;
  font-size: 64px;
  line-height: 1.1;
  font-weight: 400;
  text-align: center;
}

.title {
  margin: 0 0 12px;
  font-size: 28px;
  line-height: 1.2;
  font-weight: 500;
}

/* header */

.header {
  margin: 0 0 160px;
  padding: 32px 0;
}

.header__container,
.footer__container {
  text-align: right;
}

.header__link {
  margin-left: 56px;
  color: #288be6;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: left;
}

.header__link-github {
  margin-left: 0;
  padding-left: 30px;
  background-image: url('assets/icons/icon-github-header.svg');
}

.header__link-email {
  padding-left: 30px;
  background-image: url('assets/icons/icon-email-header.svg');
}

.header__link-phone {
  padding-left: 25px;
  background-image: url('assets/icons/icon-phone-header.svg');
}

/* hero-image */

.hero-image {
  margin-bottom: 520px;
}

.hero-image__container {
  text-align: center;
}

.hero-image__heading {
  margin: 0 0 16px;
  font-size: 88px;
  line-height: 1.1;
  font-weight: 400;
}

.hero-image__heading_description {
  margin: 0;
  font-size: 32px;
  line-height: 48px;
}

/* intro */

.intro {
  margin: 0 0 120px;
}

.intro__image {
  display: block;
  margin: 0 auto 24px;
}

.intro__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 285px);
  gap: 20px;
  list-style: none;
  padding: 0 16px;
}

.intro__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.intro__item_button {
  padding: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: none;
  transition: all 0.5s ease-in-out;
}

.intro__item_button-hor {
  width: 100%;
  height: 200px;
}

.intro__item_button-vert {
  width: 50%;
  height: 200px;
}

.intro__item_button-kyocera {
  background-image: url('./assets/images/sertificates_preview/Kyocera-Mita_small.jpg');
}

.intro__item_button-vista {
  background-image: url('./assets/images/sertificates_preview/Microsoft_Vista_small.jpg');
}

.intro__item_button-trassir {
  background-image: url('./assets/images/sertificates_preview/Trassir_small.jpg');
}

.intro__item_button-ampI {
  background-image: url('./assets/images/sertificates_preview/AMP_I_small.jpg');
}

.intro__item_button-ampII {
  background-image: url('./assets/images/sertificates_preview/AMP_II_small.jpg');
}

.intro__item_button-ampIII {
  background-image: url('./assets/images/sertificates_preview/AMP_III_small.jpg');
}

.intro__item_button-nicomaxM {
  background-image: url('./assets/images/sertificates_preview/Nicomax_montage_small.jpg');
}

.intro__item_button-nicomaxP {
  background-image: url('./assets/images/sertificates_preview/Nicomax_project_small.jpg');
}

.intro__item_button-nicomaxPE {
  background-image: url('./assets/images/sertificates_preview/Nicomax_project_ext_small.jpg');
}

.intro__item_button-lpa {
  background-image: url('./assets/images/sertificates_preview/LPA_small.jpg');
}

.intro__item_button-prof {
  background-image: url('./assets/images/sertificates_preview/HTMLAcademy_small.jpg');
}

.intro__item_button-front {
  background-image: url('./assets/images/sertificates_preview/RSSchool_frontend_small.jpg');
}

.intro__item_button-react {
  background-image: url('./assets/images/sertificates_preview/RSSchool_react_small.jpg');
}

.intro__item_button:hover {
  cursor: pointer;
  filter: drop-shadow(5px 5px 5px rgb(0 0 0 / 20%));
  transform: scale(1.05);
}

.intro__link {
  color: #288be6;
  text-decoration: none;
}

/* skills */

.skills {
  margin: 0 0 120px;
}

.skills__list {
  margin: 0;
  padding: 0 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  list-style-type: none;
}

.skills__item {
  width: 64px;
  height: 64px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.skill__item-html {
  background-image: url('assets/icons/icon-html.svg');
}

.skill__item-css {
  background-image: url('assets/icons/icon-css.svg');
}

.skill__item-js {
  background-image: url('assets/icons/javascript.svg');
}

.skill__item-node {
  background-image: url('assets/icons/nodejs.svg');
}

.skill__item-react {
  background-image: url('assets/icons/react.svg');
}

.skill__item-redux {
  background-image: url('assets/icons/redux.svg');
}

.skill__item-ts {
  background-image: url('assets/icons/typescript.svg');
}

.skill__item-next {
  background-image: url('assets/icons/nextjs.svg');
}

/* portfolio */

.portfolio {
  margin: 0 0 120px;
}

.portfolio__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.portfolio__item {
  margin: 0 0 8vw;
}

.portfolio__image {
  margin: 0 0 24px;
  text-align: center;
  width: 100%;
}

.portfolio__title_description {
  margin: 0 0 24px;
}

.portfolio__link {
  padding: 6px 20px;
  display: inline-block;
  vertical-align: baseline;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  background-color: #288be6;
  color: #ffffff;
}

/* footer */

.footer {
  padding: 40px 0;
  background-color: #00417d;
  color: #ffffff;
}

.footer__link {
  margin-left: 56px;
  color: inherit;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: left;
}

.footer__link-github {
  margin-left: 0;
  padding-left: 30px;
  background-image: url('assets/icons/icon-github-footer.svg');
}

.footer__link-email {
  padding-left: 30px;
  background-image: url('assets/icons/icon-email-footer.svg');
}

.footer__link-phone {
  padding-left: 25px;
  background-image: url('assets/icons/icon-phone-footer.svg');
}

/* modal */

.lock {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.blackout {
  display: none;
}

.blackout_active {
  display: block;
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 1;

  background-color: rgba(41, 41, 41, 0.6);
}

.blackout_active:hover {
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  width: 50vw;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;

  background-color: transparent;
}

.modal_active {
  display: block;
}

.modal__button {
  position: absolute;
  box-sizing: border-box;
  width: 52px;
  height: 52px;
  font-size: 28px;
  padding: 10px 14px;
  top: -52px;
  right: -42px;

  transform: rotate(45deg);
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid #f1cdb3;

  cursor: pointer;
}

.modal__button:hover {
  background-color: #fff;
  border-color: #fddcc4;
}

.modal__button-hover {
  background-color: #fff;
  border-color: #fddcc4;
}

.modal__container {
  width: 50vw;

  background-color: #ffffff;
  color: #000000;
  border-radius: 9px;
}

.modal__content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 0 auto;
}

.modal__image {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  max-height: 65vh;
}

.modal__title {
  margin: 0;
  margin-bottom: 9px;

  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
}

@media screen and (max-width: 1312px) {
  body {
    background-size: 100%;
  }

  .container {
    padding: 0;
  }

  .header {
    margin: 0 0 40px;
  }

  .header__container,
  .footer__container,
  .title,
  .description,
  .title_description {
    padding: 0 16px;
  }

  .hero-image {
    margin-bottom: 15vw;
  }

  .hero-image__heading {
    font-size: 60px;
  }

  .subheading {
    font-size: 44px;
  }

  .title {
    font-size: 24px;
  }

  .portfolio__link {
    margin-left: 16px;
  }

  .modal,
  .modal__container {
    width: 55vw;
  }

  .modal__title {
    font-size: 30px;
    line-height: 110%;
  }
}

@media screen and (max-width: 930px) {
  .header__link-github {
    margin-left: 0;
  }

  .intro,
  .portfolio,
  .skills {
    margin-bottom: 10vw;
  }

  .hero-image {
    margin-bottom: 15vw;
  }

  .hero-image__heading {
    font-size: 44px;
    margin-bottom: 8px;
  }

  .hero-image__heading_description {
    font-size: 30px;
    line-height: 1.5;
  }

  .subheading {
    font-size: 36px;
  }

  .intro__list {
    justify-content: center;
  }

  .modal,
  .modal__container {
    width: 70vw;
  }

  .modal__title {
    font-size: 24px;
  }
}

@media screen and (max-width: 800px) {
  body {
    background-size: auto 50vw;
  }

  .header,
  .footer {
    margin-bottom: 0;
    padding: 16px 0;
  }

  .hero-image__heading {
    font-size: 40px;
    margin-bottom: 0;
  }

  .hero-image__heading_description {
    font-size: 28px;
  }

  .subheading {
    font-size: 32px;
  }

  .header__container,
  .footer__container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .header__link,
  .footer__link {
    margin-left: 0;
    margin-bottom: 10px;
  }

  .footer__container {
    align-items: center;
  }

  .footer__link-phone {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 600px) {
  body {
    font-size: 14px;
    background-image: url('assets/images/cloud-bg.jpg');
  }

  .hero-image {
    margin-bottom: 24px;
  }

  .hero-image__heading {
    font-size: 32px;
  }

  .hero-image__heading_description {
    font-size: 24px;
  }

  .subheading {
    font-size: 24px;
  }

  .title {
    font-size: 18px;
    font-weight: 700;
  }

  .intro__image {
    width: 100%;
  }

  .modal,
  .modal__container {
    width: 100vw;
  }

  .modal__content {
    padding: 8px;
  }

  .modal__title {
    font-size: 20px;
  }

  .modal__button {
    right: 0;
  }
}
