body {
  margin: 0;
  overflow-x: hidden;
  font-family: 'Inter', 'Montserrat', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  color: #000;
}

::-webkit-scrollbar {
  width: 0;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
}

/* header */

.header__container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  display: flex;
  flex-direction: column;
  padding: 0 2rem;

  background-color: #cacaca;
  z-index: 1;
}

.header__link_list {
  display: flex;
  gap: 2rem;
  list-style-type: none;
  margin: 0;
  padding: 1rem 0 0.5rem;
}

.header__link {
  color: #5e5e5e;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: left;
}

.header__link-github {
  margin-right: auto;
  padding-left: 30px;
  background-image: url('assets/icons/icon-github-header.svg');
}

.header__link-email {
  padding-left: 30px;
  background-image: url('assets/icons/icon-email-header.svg');
}

.header__link-phone {
  padding-left: 25px;
  background-image: url('assets/icons/icon-phone-header.svg');
}

/* intro */

.intro {
  margin-top: 3rem;
  margin-bottom: 4rem;
}

.intro__container {
  display: flex;
  flex-direction: column;
  padding: 0 2rem 2.5rem;

  background-color: #cacaca;
}

.intro__skills_wrapper {
  margin-bottom: 4rem;

  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.intro__title {
  margin: 0;

  font-family: 'PT Mono', monospace;
  font-weight: 400;
  font-size: 8rem;
  line-height: 100%;
  color: #ffffff;
}

.skills__list {
  position: absolute;
  right: -2rem;
  margin: 0;
  padding: 0.5rem 1.5rem;
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  list-style-type: none;
  background-color: #fff;
}

.skills__item {
  width: 2.5rem;
  height: 2.5rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.skills__item-html {
  background-image: url('assets/icons/icon-html.svg');
}

.skills__item-css {
  background-image: url('assets/icons/icon-css.svg');
}

.skills__item-js {
  background-image: url('assets/icons/javascript.svg');
}

.skills__item-node {
  background-image: url('assets/icons/nodejs.svg');
}

.skills__item-react {
  background-image: url('assets/icons/react.svg');
}

.skills__item-redux {
  background-image: url('assets/icons/redux.svg');
}

.skills__item-ts {
  background-image: url('assets/icons/typescript.svg');
}

.skills__item-next {
  background-image: url('assets/icons/nextjs.svg');
}

.intro__title_name {
  margin: 0;
  padding-right: 4rem;

  font-family: 'PT Mono';
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 150%;
  text-align: right;
}

.intro__title_description {
  margin: 0;
  padding-right: 4rem;

  font-family: 'PT Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 150%;
  text-align: right;

  color: #444444;
  text-align: right;
}

/* portfolio */

.portfolio {
  margin: 0 0 2rem;
}

.portfolio__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.portfolio__item {
  margin: 0 0 8vw;
}

.portfolio__title_wrapper {
  position: relative;
}

.portfolio__title,
.portfolio__subtitle {
  box-sizing: border-box;
  margin: 0;
  padding: 0 2rem;
  width: 60%;

  font-family: 'PT Mono', monospace;
  font-size: 2.5rem;
  line-height: 150%;
}

.portfolio__title_marker {
  position: absolute;
  top: 0.625rem;
  right: 0;
  padding: 0.5rem 2rem;

  font-size: 1.5rem;

  color: #444444;

  background-color: #f7df1e;
}

.portfolio__subtitle {
  margin-bottom: 3rem;
  font-size: 2rem;

  color: #989898;
}

.portfolio__description_list {
  margin: 0 0 3rem;
  padding: 0 6rem;
  list-style-type: disc;
}

.portfolio__image {
  margin: 0 0 1.5rem;
  text-align: center;
  width: 100%;
}

.portfolio__link {
  display: block;
  width: fit-content;
  margin-left: 2rem;
  padding: 2px 22px;

  font-size: 1.25rem;
  line-height: 2rem;
  text-align: right;
  text-decoration: none;
  color: #7a7a7a;

  background-color: #d4d4d4;

  transition: color 0.4s;
}

.portfolio__link:hover {
  color: #0077ff;
  border-color: #0077ff;
}

@media screen and (max-width: 1279px) {
  .intro {
    margin-bottom: 6rem;
  }

  .skills__list {
    top: 120px;
  }

  .portfolio__item {
    margin-bottom: 7rem;
  }

  .portfolio__title,
  .portfolio__subtitle {
    width: 100%;
  }

  .portfolio__title_marker {
    top: -40px;
  }
}

@media screen and (max-width: 768px) {
  .intro__title {
    font-size: 6rem;
  }

  .skills__list {
    top: 100px;
  }

  .portfolio__subtitle {
    margin-bottom: 2rem;
  }

  .portfolio__description_list {
    margin-bottom: 2rem;
  }

  .portfolio__image {
    margin-bottom: 0.8rem;
  }
}

@media screen and (max-width: 624px) {
  .header__container {
    padding: 0 1rem;
  }

  .header__link_list {
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
  }

  .header__link-github {
    margin-right: 0;
  }

  .intro__container {
    padding: 3.5rem 1rem 2.5rem;
  }

  .intro__title {
    font-size: 4rem;
  }

  .skills__list {
    top: 70px;
  }

  .skills__item {
    width: 2rem;
    height: 2rem;
  }

  .intro__title_name {
    font-size: 1.5rem;
    padding-right: 0;
  }

  .intro__title_description {
    font-size: 1rem;
    padding-right: 0;
  }

  .portfolio__title_marker {
    font-size: 1rem;
  }

  .portfolio__title,
  .portfolio__subtitle {
    font-size: 1.5rem;
  }

  .portfolio__description_list {
    padding: 0 3rem;
  }

  .portfolio__link {
    font-size: 1rem;
    padding: 2px 0.5rem;
  }
}

@media screen and (max-width: 450px) {
  .intro__title {
    font-size: 3rem;
  }

  .skills__list {
    padding-left: 0.5rem;
    top: 50px;
  }

  .skills__item {
    width: 1.5rem;
    height: 1.5rem;
  }

  .portfolio__title,
  .portfolio__subtitle {
    padding-left: 1rem;
    font-size: 1.2rem;
  }

  .portfolio__title_marker {
    font-size: 14px;
    padding: 0 1rem;
  }

  .portfolio__link {
    font-size: 14px;
    padding: 2px 0.5rem;
  }
}
